<% provide(:title, 'Meetupper Webver') %>
<div class = 'container'>
  <h1>MeetUpper</h1>
  <p>Welcome to MeetUpper! Please log in!</p>
  <div class = 'container'>
    <% 100.times do %>
      aaaaa
      <br>
    <% end %>
  </div>
</div>
