<% provide(:title, 'Change Profile') %>
<% provide(:submit_message, 'Update account') %>
<h1>Change profile</h1>
<div class = 'row'>
  <div class = 'col-md-6 offset-md-3'>
    <%= render 'user_form' %>
  </div>
</div>
