<% provide(:title, 'Profile') %>
<% provide(:submit_message, '登録') %>
<% provide(:submit_path, personal_schedules_path) %>
<h1><%= @user.name %></h1>
<div class = 'container-fluid'>
  <%# 予定作成画面 %>
  <%= render 'shared/schedules_form' %>

  <%# 予定表示画面 %>
  <%= render 'shared/schedule' %>
</div>
