<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= yield %>
  </body>
</html>
